.jumbotron {
  background-color: DarkGray;
}
body {
  background-color: LightGray;
}

.jumbotron a {
  color: #111;
}

nav a {
  color: #111;
}

p {
 color: white; 
}

h1 {
 color: white; 
}

a {
 color: white;  
}
